<% if @item.errors.any? %>
  <div id="error_explanation" class="mt-2">
    <ul>
      <% @item.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
    </ul>
  </div>
<% end %>

<div class = "container">
  <div class = "row" >
    <div style="margin-top : 20px">
     <h2>商品新規登録<i class="fas fa-birthday-cake"></i></h2><br>
    </div>

    <div class = col-md-9 ><br>
        <%= form_with model:@item, url:admin_items_path, local:true do |f| %>

      <form>
        <div style="margin-top : 100px">
          <div class="image-field">
            <h4><%= f.label :商品画像 ,class: "col-md-4" %>
              <%= f.attachment_field :image, class:"col-md-7"%></h4>
          </div>

          <div class="name-field">
            <h4><%= f.label :商品名 ,class: "col-md-4" %>
            <%= f.text_field :name, autofocus: true, autocomplete: "name" ,placeholder:"商品名",class: "col-md-7"%></h4>
          </div>
          <div class="description-field">
            <h4><%= f.label :商品説明 ,class: "col-md-4" %>
            <%= f.text_area :introduction, autofocus: true, autocomplete: "introduction" , placeholder:"ここに説明文を記述します", class: "col-md-7"%></h4>
          </div>

          <div class="price-field">
            <h4><%= f.label :税抜価格 ,class: "col-md-4 "  %>
            <%= f.text_field :price, autofocus: true, autocomplete: "price" ,placeholder:"1000",class: "col-md-7"%>円</h4>
          </div>

          <div class="genre-field">
            <h4><%= f.label :ジャンル ,class: "col-md-4 " %>
            <%= f.collection_select :genre_id, Genre.all, :id, :name,class: "col-md-7"%></h4>
          </div>

          <div class="status-field">
            <h4><%= f.label :販売ステータス  ,class: "col-md-4" %>
                <%= f.select :is_active, ["販売中", "販売停止"] ,class: "btn btn-primary,col-md-7"%></h4>
          </div>
          <div class="text-center">
            <%= f.submit "新規登録" ,class: "btn btn-primary"%>

          <% end %>
        </form>
     </div>
    </div>
  </div>
 </div>
</div>