<div class="container" >
    <div class="row" >
        <div class="col-md-4">
            <div style="margin-top : 20px">
                <div style="margin-left : 90px">
                 <h2>商品詳細<i class="fas fa-search"></i></h2>
                </div>
            </div>
            <div style="margin-top : 50px">
             <%= attachment_image_tag @item, :image, :fill, 300, 250, fallback: "no_image.jpg" %>
            </div>
        </div>
        <div class="col-md-8">
            <div style="margin-top : 100px">
              <div class="name-field"></div>
             <h4>商品名&emsp;&emsp;&emsp;<%= @item.name %></h4><br>
             <h4>商品説明&emsp;&emsp;<%= @item.introduction %></h4><br>
             <h4>ジャンル&emsp;&emsp;<%= @item.genre.name %></h4><br>
             <h4>税込価格&emsp;&emsp;<%= @item.price %>円</h4><br>
             <h4>(税抜価格)&emsp;&thinsp;<%= @item.price*1.1 %>円</h4><br>
             <h4>販売ステータス&emsp;<%= @item.is_active %></h4><br>

             <%= button_to '編集する', admin_item_path, class: "btn btn-primary" %>
            </div>
        </div>
    </div>
</div>