<div class="container" >
    <div class="row" >
        <div class="col-md-4">
            <div style="margin-top : 20px">
                <div style="margin-left : 90px">
                 <h2>商品詳細<i class="fas fa-search"></i></h2>
                </div>
            </div>
            <div style="margin-top : 50px">
             <%= attachment_image_tag @item, :image, :size => "250x200", fallback: "no_image.jpg" %>
            </div>
        </div>
        <div class="col-md-2">
             <div style="margin-top : 100px">
             <div class="name-field"></div>
             <h6 class="show-item">商品名</h6>
             <h6 style="margin-bottom:70px;">商品説明</h6>
             <h6 class="show-item">ジャンル</h6>
             <h6 >税込価格</h6>
             <h6 class="show-item">(税抜価格)</h6>
             <h6 class="show-item">販売ステータス</h6>
             </div>
        </div>
        <div class="col-md-6">
             <div style="margin-top : 100px">
             <h6 class="show-item"><%= @item.name %></h6>
             <h6 style="margin-bottom:70px;"><%= @item.introduction %></h6>
             <h6 style="margin-bottom:30px;"><%= @item.genre.name %></h6>
             <h6 style="margin-bottom:35px;">
                 <%= number_to_currency(@item.price*1.1,strip_insignificant_zeros: true, :format => "%n%u", :unit => "円") %>
                 (<%= @item.price %>円)
             </h6>
             <h6 class="show-item"><%= @item.is_active %></h6>
             </div>
        </div>
    </div>
    <div class="row">
        <div class="offset-md-5 col-md-5 ">
            <%= button_to '編集する', edit_admin_item_path(@item), method: :get, class: "btn btn-success" %>
        </div>    
    </div>
</div>