<div class="container mt-3">
	<div calss="row">
    <div class="col">
			<i class="far fa-user fa-lg"></i>
			<span class="px-3 mb-2" style="font-size: 24px; background-color: #d3d3d3">
				<%= @public.last_name %><%= @public.first_name %>さんの会員詳細
			</span>
				<table class="table table-borderless mt-4">
					<tbody>
						<tr>
							<td class="info col-xs-2">会員ID</td>
							<td class="text-left"><%= @public.id %></td>
						</tr>
						<tr>
							<td class="info col-xs-2">氏名</td>
							<td class="text-left"><%= @public.last_name %><%= @public.first_name %></td>
						</tr>
						<tr>
							<td class="info">フリガナ</td>
							<td class="text-left"><%= @public.last_name_kana %><%= @public.first_name_kana %></td>
						</tr>
						<tr>
							<td class="info">郵便番号</td>
							<td class="text-left"><%= @public.postal_code %></td>
						</tr>
						<tr>
							<td class="info">住所</td>
							<td class="text-left"><%= @public.address %></td>
						</tr>
						<tr>
							<td class="info">電話番号</td>
							<td class="text-left"><%= @public.telephone_number %></td>
						</tr>
						<tr>
							<td class="info">メールアドレス</td>
							<td class="text-left"><%= @public.email %></td>
						</tr>
						<tr>
							<td class="info">会員ステータス</td>
							<% if @public.is_deleted == false %>
							<td class ="text-success">有効</td>
							<% else %>
							<td class ="text-danger">退会済み</td>
							<% end %>
						</tr>
					</tbody>
				</table>
			<div class="d-flex">
				<div class="mr-5">
				  <%= link_to " 編集する", edit_admin_customer_path(@public),class: "btn btn-success" %>
				</div>
				<div class="colspan">
					<%= link_to "注文履歴一覧を見る", admin_order_detail_path(@public), class: "mr-2 btn btn-info" %>
				</div>
			</div>
		</div>
	</div>
</div>