<div class="col-12">
  <h3 class="my-5"><span class="page_title">注文履歴詳細</span></h3>
  <table class="mb-5 col-6">
    <tbody>
      <tr>
        <th>購入者</th>
        <td>
          <%= link_to admin_customer_path(@order.public) do %>
            <%= @order.public.last_name + @order.public.first_name %>
          <% end %>
        </td>
      </tr>
      <tr>
        <th class="pt-3">注文日</th>
        <td class="pt-3"><%= @order.created_at.strftime('%Y/%m/%d') %></td>
      </tr>
      <tr>
        <th class="pt-3">配送先</th>
        <td class="pt-3">〒<%= @order.postal_code %> <%= @order.address %> <br> <%= @order.name %></td>
      </tr>
      <tr>
        <th class="pt-3">支払い方法</th>
        <td class="pt-3"><%= @order.payment_method %></td>
      </tr>
      <tr>
        <th class="pt-3">注文ステータス</th>
        <td class="pt-3">
          <%= form_with model: @order, url:admin_order_path, method: :patch, local: true do |f| %>
            <div class="d-flex">
              <%= f.select :status, Order.statuses.keys, {}, { class: 'form-control col-5' } %>
              <%= f.submit "更新", class: 'btn btn-success btn-sm ml-4' %>
            </div>
          <% end %>
        </td>
      </tr>
    </tbody>
  </table>

  <div class="order-detail pt-5 d-flex">
    <table class="table col-8 mr-5" style="position: relative;">
      <thead class="table-active">
        <tr>
          <th style="width: 25%;">商品名</th>
          <th style="width: 20%;">単価（税込）</th>
          <th style="width: 10%;">数量</th>
          <th style="width: 15%;">小計</th>
          <th style="width: 30%;">制作ステータス</th>
        </tr>
      </thead>
      <tbody>
        <% @oreder_details.each do |oreder_detail| %>
          <tr>
            <td><%= oreder_detail.item.name %></td>
            <td><%= oreder_detail.item.price %></td>
            <td><%= oreder_detail.amount %></td>
            <td><%= sub_price(oreder_detail) %>円</td>
            <td>
              <%= form_with model: oreder_detail, url: admin_order_detail_path(oreder_detail), method: :patch do |f| %>
                <%= f.hidden_field :oreder_detail_id, :value => oreder_detail.id %>
                <div class="d-flex">
                  <%= f.select :making_status, OrederDetail.making_statuses.keys, {}, { class: 'form-control col-8' } %>
                  <%= f.submit "更新", class: 'btn btn-success btn-sm ml-3' %>
                </div>
              <% end %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
    <div class="order-detail-info col-4 mt-5 pl-5" style="position: absolute; bottom: 10px; right: 0;">
      <table class="col-8">
        <tbody>
          <tr>
            <th>商品合計</th>
            <td style="text-align: end;"><%= total_payment(@oreder_details) %>円</td>
          </tr>
          <tr>
            <th>送料</th>
            <td style="text-align: end;">800円</td>
          </tr>
          <tr>
            <th>請求金額合計</th>
            <td style="text-align: end;"><%= total_payment(@oreder_details) + 800 %>円</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
