<% if @genre.errors.any? %>
  <div id="error_explanation" class="mt-2">
    <ul>
      <% @genre.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
    </ul>
  </div>
<% end %>

<div class="container">
  <div class="row" style="margin-top:50px;">
    <div class="offset-md-1 col-md-6">
      <h4 >ジャンル一覧・追加</h2>
    </div>
  </div>
  <div class="row" style="margin-top:80px;">
    <div class="col-md-6">
      <%= form_with model: @genre, url: admin_genres_path, local: true do |f| %>
      <label>ジャンル名</label>
      <%= f.text_field :name, placeholder: "ジャンル名", style: "margin-left:70px;" %>
      <%= f.submit "新規登録", class: "btn btn-success", style: "margin-left:50px;"  %>
      <% end %>
    </div>
  </div>
  <div class="row" style="margin-top:80px;">
    <div class="col-md-4">
      <table class="table">
        <thead>
          <tr>
            <th class="text-center">ジャンル</th>
            <th></th>
          </tr>
        </thead>
        <% @genres.each do |jenre| %>
        <tbody>
          <tr>
            <td>
              <%= jenre.name %>
            </td>
            <td>
              <%= link_to "編集する", edit_admin_genre_path(jenre.id), class: "btn btn-success" %>
            </td>
          </tr>
        </tbody>
        <% end %>
      </table>
    </div>
  </div>
</div>