<div class="page_title offset-1 my-3">注文情報入力</div>
<div class="container">
 <%= form_with(model: @order, url: public_comfirm_path, local: true) do |f| %>
 <%= f.hidden_field :public_id, value: current_public.id %>

  <div class="form-group">
    <strong><%= f.label :payment_method, "支払い方法", class: "row" %></strong>
    <%= f.radio_button :payment_method, :クレジットカード %>
    <%= f.label :クレジットカード %> <br>
    <%= f.radio_button :payment_method, :銀行振込 %>
    <%= f.label :銀行振込 %>
  </div>

  <div class="form-group">
    <strong><p class="row">お届け先</p></strong>

    <%= radio_button_tag "address", "public_address", checked: true %>
    <%= f.label "ご自身の住所" %>
    <div class="col">
      〒<%= current_public.postal_code %>  <%= current_public.address %><br>
      <%= current_public.name %>
    </div>

    <%= radio_button_tag "address", "existing_address" %>
    <%= f.label "登録済み住所から選択" %>
    <div class="col">
      <p><%= f.collection_select :id, current_public.addresses, :id, :params_registred_address, {class: "form-control"} %></p>
    </div>

    <%= radio_button_tag "address", "add_address" %>
    <%= f.label "新しいお届け先" %>
    <div class="col">
      <%= fields_for :address do |a| %>
      <div class="form-group row">
        <%= f.label :postal_code, "郵便番号(ハイフンなし)", class: "col-3" %>
        <%= f.text_field :postal_code, placeholder: "0000000", class: "form-control col-4", id: "public_postal_code" %>
      </div>
      <div class="form-group row">
        <%= f.label :address, "住所", class: "col-3" %>
        <%= f.text_field :address, placeholder: "東京都渋谷区代々木新園町0-0", class: "form-control col-8", id: "public_address" %>
      </div>
      <div class="form-group row">
        <%= f.label :name, "宛名", class: "col-3" %>
        <%= f.text_field :name, placeholder: "令和道子", class: "form-control col-4" %>
      </div>
      <% end %>
      </div>
    <%= f.submit "確認画面へ進む", class: "btn btn-primary offset-4 col-2" %>
  </div>
<% end %>
</div>