<div class="container takasa">
  <div class="row">

<<<<<<< HEAD
        <div class="col-xs-1">
    </div>

  	<div class="col-xs-9">
  	  <h2></i>商品一覧<span style="font-size:20px;">（全<%= @quantity %>件）</span></h2><br>
  	    <div class="row">
  	      <% @items.each do |item| %>
            <div class="box" style="float:left; margin-right:20px;">
            <%= link_to public_item_path(item.id) do %> <!-- 画像をクリックしたら商品詳細画面へ遷移 -->
              <%= attachment_image_tag item, :image, :fill,280,200, fallback: "no_image.jpg"%><br>
=======
    <!-- 商品一覧 -->
    <div class="col-xs-1">
    </div>

  	<div class="col-xs-9">
  	  <div style="margin-top : 20px">
  	   <h2></i>商品一覧<i class="fas fa-clipboard-list"></i><span style="font-size:20px;">（全<%= @quantity %>件）</span></h2><br>
  	  </div>
  	<div class="row">
  	      <% @items.each do |item| %>
            <div class="box" style="float:left; margin-right:20px;">
            <%= link_to public_item_path(item.id) do %> <!-- 画像をクリックしたら商品詳細画面へ遷移 -->
              <%= attachment_image_tag item, :image, :fill,260,200, fallback: "no_image.jpg"%><br>
>>>>>>> f8fead0f74892891ae2c52da895f9bd6100c8f33
            <% end %>
              <p><%= item.name %></p>
              <p>¥<%= item.price %></p>
            </div>
          <% end %>
  	    </div>
  	    <div class="col-xs-6 col-xs-offset-4 ">
          <%= paginate @items %>
  	</div>
  </div>
</div>