<div class = "container">
  <div class= "row">

        <div class="col-xs-1">
    </div>

  	<div class="col-xs-9">
  	  <h2></i>商品一覧<span style="font-size:20px;">（全<%= @quantity %>件）</span></h2><br>
  	    <div class="row">
  	      <% @items.each do |item| %>
            <div class="box" style="float:left; margin-right:20px;">
            <%= link_to public_item_path(item.id) do %> <!-- 画像をクリックしたら商品詳細画面へ遷移 -->
              <%= attachment_image_tag item, :image, :fill,280,200, fallback: "no_image.jpg"%><br>
            <% end %>
              <p><%= item.name %></p>
              <p>¥<%= item.price %></p>
            </div>
          <% end %>
  	    </div>
  	    <div class="col-xs-6 col-xs-offset-4 ">
          <%= paginate @items %>
  	</div>
  </div>
</div>